/* Credits for Split Landing Page and NavBar: */
/* Split Landing Page: https://codepen.io/bradtraversy/pen/dJzzdB*/
/* Nav Bar: https://codepen.io/mutedblues/pen/MmPNPG */


html, body {
  padding:0;
  margin:0;
  font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  background-color: #222;
}


/* header navbar*/

.header {
  background-color: #2a2a2a;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #3d3d3d;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #2a2a2a;
  text-decoration: none;
  color: #FFF
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #3a0000;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: #FFF;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Split Landing */

:root {
  /*initialize variables as will be used on the left side, standard state*/
  --bg-color: rgba(223, 39, 39, 0.20);
  --bg-url: url('img/kcd.jpg');
  --button-hover-color: rgba(161, 11, 11, 0.3);
}
a.kcdlink {
    border: solid #862A00;
    border-radius: 5%;
    padding: 1%;
}
a.evelink {
    border: solid #6E8CA9;
    border-radius: 5%;
    padding: 1.5%;
}
a.kcdlink:hover {
    color: #FF6C00;
    background-color: #862A00;
}
a.evelink:hover {
    color: #96CBFF;
    background-color: #6E8CA9;
}

a:link {
    color: #FFF;
}
a:visited {
    color: #FFF;
}
a:active{
    coor: #B4BFC4;
}

h1 {
  font-size: 3rem;
  color: #fff;
  white-space: nowrap;
}

button {
  text-transform:uppercase;
  padding:1em 2em;
  font-size:2em;
  font-weight:bold;
  background:transparent;
  color:#FFF; 
  border: 0.2rem #FFF solid;
}

button:hover{
  /*sets the hover status of the buttons to a variable value*/
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color); 
  cursor:pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  oveflow:hidden;
}

.split {
  transition:all 1s ease;
  flex:1 1 auto;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  /*sets the background image and color mask, defaulted to the values corresponding to the left*/
  background: 
    linear-gradient(var(--bg-color),var(--bg-color)) repeat-x top / 100% 100%,
    var(--bg-url) center center no-repeat / cover;
}

.left { /*NO ADITIONAL STYLES NEEDED*/}

.right {
  /*ONLY CHANGE THE VARIABLE VALUES, and they'll apply to the correct children! :D*/
  --bg-color: rgba(43, 43, 43, 0.7);
  --bg-url:url('img/eve.jpg');
  --button-hover-color: rgba(92, 92, 92, 0.3);
}

.split:hover{
  /*grows an element on hover*/
  flex-grow:10;
}


@media(max-width:500px){
  /*switch flex direction for smaller screens*/
  .container{
    flex-direction:column;   
  }
}

/*TO-DO: adjust header sizes*/